html,body{
  background-color: beige;
  margin: 10px
}

ul {
  list-style-type: none; 
  display: flex;
  flex-wrap: wrap;
}

li { 
  padding-right: 10px;
}

span{
  padding: 4px
}

.jokeContainer {
  background-color: gainsboro;
  border: 5.5px groove gray; 
  display: flex;
  flex-wrap: wrap;
  margin: 5.5px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
}